.section {
  margin-bottom: 1em;

  &__heading {
    margin-bottom: 0.5em;
    text-align: center;
    position: relative;
    display: inline-block;
    color: white;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}

.columns {
  display: inline-block;
  column-count: 3;
  column-rule: dotted 0.5em red;
  column-width: 20em;
}